  @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

*{
    font-family: "Public Sans";
    font-size: 15px;
}

.header, .logo, .menu ul{
    display: flex;
    align-items: center;
}

.header{
    justify-content: space-between;
    padding: 45px;
}

.logo img{
    width: 45px;
    margin-right: 6px;
}

.logo .nome-do-banco{
    color: black;
    font-size: 20px;
    font-weight: 800;
}

.menu ul{
    gap: 10px;
}

.menu li a{
    padding: 10px 5px;
}

ul .destaque{
    color: #fff;
    background-color: var(--cor-de-destaque);
    padding: 11px 6px;
}

ul li .cadastro{
    background-color: var(--cor-de-destaque);
    color: #fff;
    border-radius: 10px;
    padding: 10px 21px;
    font-weight: 300;
}

.menu li a:hover{
    background-color: var(--cor-de-destaque);
    color: #fff;
    transition: 0.3s ease-in-out;
}

@media (max-width:768px) {
    .header, .menu ul{
        flex-direction: column;
        
    }

    .logo{
        margin-bottom: 100px;
    }

    .logo .nome-do-banco{
        font-size: 40px;
    }

    .menu ul{
        gap: 50px;
    }

    .menu ul li{
        font-size: 40px;
    }

    .menu .cadastro{
        font-size: 18px;
    }
}